/* md-list {
    display: inline-flex;
    flex-direction: row;
}

md-list-item {
    display: flex;
    flex-direction: row;
} */

.flex {
    display: inline-flex;
}


/* .cover-image {
    position: relative;
    width: 100%;
} */

.scroll-container {
    overflow-x: scroll;
}

.model-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 120%
}

.cover-image {
    width: 25%;
    position: relative;
}

h2 {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    color: white;
}

img {
    width: 100%;
}