/* md-list {
    display: inline-flex;
    flex-direction: row;
}

md-list-item {
    display: flex;
    flex-direction: row;
} */

.flex {
    display: inline-flex;
}


/* .cover-image {
    position: relative;
    width: 100%;
} */

h2 {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    color: white;
}

img {
    width: 100%;
}