<div style="text-align:center">
    <car-model (onModelSelected)="selectModel($event)"></car-model>
    <md-grid-list cols="4" [rowHeight]="200" [gutterSize]="'1px'">
        <md-grid-tile [colspan]="1" [rowspan]="1">
            <car-parts></car-parts>
        </md-grid-tile>
        <md-grid-tile [colspan]="2" [rowspan]="1">
            <car-preview></car-preview>
        </md-grid-tile>
        <md-grid-tile [colspan]="1" [rowspan]="1">
            <car-preset></car-preset>
        </md-grid-tile>
    </md-grid-list>