<div>
    <h2>{{carModel.name}}</h2>
    <md-list dense>
        <md-list-item *ngFor="let feature of carModel.features" (mouseover)="hoverFeature(feature)">
            <md-select formControlName="formControlName" placeholder="{{feature.name}}" floatPlaceholder="always">
                <md-option *ngFor="let option of feature.options" [value]="option" (mouseover)="hoverOption(option)">
                    {{option.name}}
                </md-option>
            </md-select>
        </md-list-item>
    </md-list>
</div>